{{- /* Checks if running interactively, which is not the case for GitHub Codespaces */ -}}

{{- /* Initializes the name variable with a default value */ -}}
{{- $name := "Sebastian Pölsterl" -}}
{{- /* If name was previously set, reuses it */ -}}
{{- if hasKey . "name" -}}
{{-   $name = .name -}}
{{- /* Otherwise, if running interactively, prompts for a name */ -}}
{{- else if stdinIsATTY -}}
{{-   $name = promptString "name" $name -}}
{{- end -}}

{{- /* Does the same for the email */ -}}
{{- $email := "74460+sebp@users.noreply.github.com" -}}
{{- if hasKey . "email" -}}
{{-   $email = .email -}}
{{- else if stdinIsATTY -}}
{{-   $email = promptString "email" $email -}}
{{- end -}}

sourceDir = {{ .chezmoi.sourceDir | quote }}

[data]
    name = {{ $name | quote }}
    email = {{ $email | quote }}
