[user]
	name = {{ .name | quote }}
	email = {{ .email | quote }}
[color]
	diff = auto
	status = auto
	branch = auto
	ui = true
[alias]
	ci = commit
	s = status
	rh = reset --hard HEAD
	st = status
	uncommit = reset --soft HEAD^
        oglog = log --graph --oneline --decorate --all
[core]
	pager = delta
	autocrlf = false
	eol = lf
[interactive]
	diffFilter = delta --color-only --features=interactive
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default
[delta]
	features = decorations calochortus-lyallii
	navigate = true  # use n and N to move between diff sections
	light = false
# https://github.com/dandavison/delta/blob/master/themes.gitconfig
[delta "calochortus-lyallii"]
    # author: https://github.com/manojkarthick
    commit-decoration-style = none
    dark = true
    file-added-label = [+]
    file-copied-label = [C]
    #file-decoration-style = none
    file-decoration-style = "#606018" overline
    file-modified-label = [M]
    file-removed-label = [-]
    file-renamed-label = [R]
    file-style = 232 bold 184
    hunk-header-decoration-style = none
    hunk-header-file-style = "#999999"
    hunk-header-line-number-style = bold "#03a4ff"
    hunk-header-style = file line-number syntax
    line-numbers = true
    line-numbers-left-style = black
    line-numbers-minus-style = "#B10036"
    line-numbers-plus-style = "#03a4ff"
    line-numbers-right-style = black
    line-numbers-zero-style = "#999999"
    minus-emph-style = syntax bold "#780000"
    minus-style = syntax "#400000"
    plus-emph-style = syntax bold "#007800"
    plus-style = syntax "#004000"
    whitespace-error-style = "#280050" reverse
    zero-style = syntax
    #syntax-theme = Nord
    #syntax-theme = Vibrant Sunburst
    syntax-theme = Dracula
