{{ if or (eq .chezmoi.os "linux") (eq .chezmoi.os "darwin") -}}
#!/bin/sh

set -e

{{ if eq .chezmoi.os "darwin" -}}
brew install \
  dust \
  fish \
  git-delta \
  neovim \
  ripgrep
brew install --cask \
  git-credential-manager \
  font-hasklig \
  font-hasklug-nerd-font \
  font-latin-modern-math \
  font-sauce-code-pro-nerd-font \
  font-stix-two-math \
  miniforge
{{- end }}

fish -c 'curl -sL https://git.io/fisher | source && fisher install jorgebucaran/fisher'
fish -c 'fisher install IlanCosman/tide@v6'

# Configure tide
# https://github.com/IlanCosman/tide/issues/304#issuecomment-1372724425
fish -c 'tide configure --auto \
    --style=Classic \
    --prompt_colors="True color" \
    --classic_prompt_color=Light \
    --show_time=No \
    --classic_prompt_separators=Angled \
    --powerline_prompt_heads=Sharp \
    --powerline_prompt_tails=Flat \
    --powerline_prompt_style="Two lines, frame" \
    --prompt_connection=Disconnected \
    --powerline_right_prompt_frame=No \
    --prompt_connection_andor_frame_color=Light \
    --prompt_spacing=Compact \
    --icons="Few icons" \
    --transient=No'

# Install uv
curl -LsSf https://astral.sh/uv/install.sh | env INSTALLER_NO_MODIFY_PATH=1 sh
~/.local/bin/uv generate-shell-completion fish > ~/.config/fish/completions/uv.fish

# Install pixi completions
if [ -x "$(command -v pixi)" ]; then
    pixi completion --shell fish > ~/.config/fish/completions/pixi.fish
fi

{{ if eq .chezmoi.os "linux" -}}
# Install Tmux Plugins
if [ -x "$(command -v tmux)" ]; then
    ~/.config/tmux/plugins/tpm/bin/install_plugins
fi
{{- end }}

{{- end }}
