set -g tide_pwd_truncate_margin 50
set -g tide_cmd_duration_threshold 10000

set -g EDITOR /usr/bin/nvim

alias vi nvim
alias vim nvim

set -x XDG_CONFIG_HOME "$HOME/.config"
set PATH $HOME/.local/bin {{- if eq .chezmoi.os "darwin" }} /opt/homebrew/bin /opt/homebrew/sbin {{- end }} $PATH
